.app-wrapper {
  width: max-content;
  margin: auto;
}

.completed {
  text-decoration: line-through;
}

.task {
  padding: 15px 10px 15px 10px;
  background: #95ffba;
  border-radius: 10px;
  min-width: 200px;
  max-width: 500px;
}

.task-card p {
}
